/* Override Bootstrap styles for a specific element */

.container{
    background-color: #FFA896; /* Your custom background color */
}

.consultation button {
    background-color: #F75E05;
    color: black;
}
/* Customize Bootstrap button styles */
.explore-courses {
    background-color: #F75E05;
    border-color: #F75E05;
    color: #fff;
}

/* Add custom styles to your existing elements */
.main-text {
    font-size: 24px; /* Your custom font size */
    color: #333; /* Your custom text color */
}
